<h1> Contacts</h1>
<table>
  <tr> 
    <td> Name</td>
     <td> Email</td>
     <td>Password</td>
</tr>
   <%cs.each do|c| %>
    <tr>
      <td> <%= c.name %> </td>
      <td> <%= c.owner %></td>
      <td> <%= c.source %></td>
 <% end %>
</tr>